@import '../../../globals';

.landing-container {
  display: flex;
  padding: 60px 140px;
  gap: 20px;
}

.text-hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 700px;
  white-space: pre-wrap;
  gap: 24px;
  flex: 1;

}

.example-hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
  flex: 1;
}

.example-container {
  @include flex-center;
  flex-direction: column;
  gap: 20px;
  background: $light;
  border-radius: 12px;
  padding: 20px 60px;
  width: 100%;
}

.image-wrapper {
}