.container {
  padding: 16px 32px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.input-container {
  display: flex;
  justify-content: center;

}